body, html {
        height: 80%;
        margin: 0;
        font-family: 'Helvetica', sans-serif; /* Using a sans-serif font */
    }

    body {
        background-color: #000; /* Black background */
        color: #fff; /* White text color */
    }

    .name h1 {
        font-size: 6em;
        font-weight: bold;
        background: -webkit-linear-gradient(#C9F, #0F79D0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        text-decoration: none;
        color: #5D86E3;
        text-shadow: none;    
    }

    a:hover,a:focus {
        text-decoration: none;
        color: #0a4f89;
    }

    .container {
        margin: 5% 10% 10% 10%;
        display: flex;
        justify-content: center;
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20px;
    }

    .left-column {
        grid-column: 1 / 2;
        padding: 20px; /* Adding padding inside the left column */
    }

    .right-column {
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px; /* Adding padding inside the right column */
    }

    .right-column img {
        max-width: 100%;
        height: auto;
    }

p {
        font-size: 1.3em;
}

.desktop-social-icons-container {
        text-align: center;
        font-size: 2em;
        display: block!important;
}

.mobile-social-icons-container {
        text-align: center;
        font-size: 2em;
        display: none!important;
}

.notimagegrid {
        display: none!important;
}

@media screen and (max-width: 768px) {
        .desktop-social-icons-container {
                font-size: 1.5em;
                display: none!important;
        }

        .notimagegrid {
                display: block!important;
                padding: 5px;
        }

        .mobile-social-icons-container {
                font-size: 1.5em;
                display: block!important;
        }
}
        
.fa {
        margin: 0 30px;
        background: -webkit-linear-gradient(#C9F, #0F79D0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens, like tablets and mobile devices */
  .container {
    margin: -5% 5% 10% 5%;
  }
  
  .content {
    display: flex;
    gap: 20px;
  }
  
  .left-column, .right-column {
    width: 100%;
  }
  
  .social-icons-container {
    margin-top: 20px;
  }

  .right-column {
          display: grid;
          justify-content: center;
  }

  .right-column img {
          max-width: calc(50% - 10px);
          margin: 5px;
  }

  p {
          font-size: 1.1em;
  }

  .name h1 {
          font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  /* Adjustments for smaller screens, like mobile phones */
  .left-column {
    font-size: 1em; /* Decrease font size for better readability */
  }
  
  .right-column img {
    max-width: 100%; /* Ensure images don't overflow on small screens */
  }
}
